*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

h1, p {
  margin: 0;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  background-color: #1e293b;
}

.notification {
  position: fixed;
  top: 1rem;
  right: 1rem;
  padding: 1rem;
  background-color: #4338ca;
  border-radius: 0.5rem;
  color: white;
  display: none;
}

#container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #64748b;
  padding: 1rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  border-radius: 0.5rem;
}

#title {
  color: white;
  text-align: center;
}

form {
  display: flex;
  gap: 1rem;
}

#form-input {
  background-color: #475569;
  border-radius: 0.5rem;
  outline: none;
  padding: 0.5rem;
  color: #f1f5f9;
}

#form-input::placeholder {
  color: #cbd5e1;
}

#form-btn {
  border: none; 
  color: rgb(0, 0, 0); 
  padding: 14px 28px; 
  cursor: pointer; 
  border-radius: 5px;
}

.Cerrar:hover {
  background-color: #4f46e5;
}

.Cerrar {
  border: none; 
  color: rgb(0, 0, 0); 
  padding: 14px 28px; 
  cursor: pointer; 
  border-radius: 5px;
}

#form-btn:hover {
  background-color: #4f46e5;
}

ul {
  margin: 0;
  list-style: none;
  padding: 0rem 0.5rem 0rem 0rem;
  max-height: 10rem;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #334155;
  background-color: #e2e8f0;
  border-radius: 0.5rem;
}
.form-input-container {
  justify-content: center;
  text-align: center;
  border-radius: 50px;
  align-items: center;
  padding: 1rem;
  background-color: rgba(183, 185, 185, 0.363);
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
  
}
#form {
  border-radius: 15px;
  display: flex;
  align-items: center;
  padding: 1rem;
}

.delete-btn {
  padding: 0.5rem;
  border-radius: 0.5rem 0rem 0 0.5rem;
  background-color: #f87171;
  color: #dc2626;
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: #ef4444;
  color: #fee2e2;
}

.edit-btn {
  padding: 0.5rem;
  border-radius: 0rem 0.5rem 0.5rem 0rem;
  background-color: #4ade80;
  color: #16a34a;
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.edit-btn:hover {
  background-color: #22c55e;
  color: #dcfce7;
}

.show-notification {
  display: block;
}

.edit-btn {
  text-decoration: line-through;
}

.info {
  width: 200px;
  margin: 0;
  
}

.border-edit {
  outline: 2px solid rgb(91, 91, 91); 
}